header {
    text-align: center;
}

button {
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1%;
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
    border: none;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

p {
    text-align: justify;
}

#datos-libro {
    padding-left: 2%;
    margin-right: 10px;
    width: 200px;
    max-width: 200px;
}

#contenedor {
    display: flex;
}


#contenido-parrafo {
    display: flex;
    text-align: justify;
}

#cont-parr {
    margin-right: 5%;
}

#cuerpo {
    padding-right: 10%;
    padding-left: 50px;
}